env

# macOS
*.DS_Store

.cache

# compiled python files
*.pyc
*.egg-info

# eggs
*.egg-info
*.eggs

# *.xlsx
# Setuptools distribution folder.
/dist/

# pypi
.pypirc

# IDEs
.vscode
.idea

# distribution
build
dist

# mypy
.mypy_cache

# Jupyter
*.ipynb
.ipynb_checkpoints

# other
TODO.md
htmlcov
.pytest_cache/*

