[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
"numpy" = "==1.14.0"
"pandas" = "==0.22.0"
"xlrd" = "==1.1.0"
"openpyxl" = "==2.5.0b1"

[dev-packages]
"flake8" = "==3.3.0"
"pytest" = "==3.1.1"
"flake8-import-order" = "*"
"setuptools" = "*"
"mypy" = "*"
"jupyter" = "*"
"notebook" = "*"
"e1839a8" = {path = ".", editable = true}